    <header>
      <!-- Fixed navbar -->
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="https://getbootstrap.com/docs/4.1/examples/sticky-footer-navbar/#">Entrega #2</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Inicio<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              {{!-- <a class="nav-link" href="/crearCurso">Crear Curso</a> --}}
              <a class="nav-link" href="/cursos/crear">Crear Curso</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Ver Cursos
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/cursos/verInteresado">Como Interesado</a>
                <a class="dropdown-item" href="/cursos/verCoordinador">Como Coordinador</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/cursos/inscribir">Inscribir Curso</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/cursos/verInscritos">Ver Inscritos</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>
