<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <head>
    {{>meta}}
    <title>Entrega Dos</title>
    {{>scriptsCss}}
  </head>

  <body>
    {{>header}}
     <!-- Begin page content -->
    <main role="main" class="container">
      <div class="starter-template">
        <h1>{{nombreAplicacion}}</h1>
        <p class="lead">Aquí encontrará las funcionalidades asociadas a la entrega individual 3</p>
      </div>
    </main>
  </body>
    {{>footer}}
    {{>scriptsJs}}
  </body>
</html>